@charset "UTF-8";
.infoma{
	float:left;
	margin-left:230px;
	width:500px;
	height:400px;
}
.mima{
	margin-top:20px;
	border-style:solid;
	border-color: #3A3A3A;
	height:280px;
}
.input_form{
	border: 1px solid #696969;
    padding: 5px 8px;
    color: #696969;
    background: #fff;
    box-shadow: none !important;
    width: 300px;
    font-size: 0.85em;
    font-weight: 300;
    height: 18px;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
    resize: none;  
    margin-bottom: 10px;
}

.mima input[type="submit"] {
  background: #3A3A3A;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 7px;
  width: 20%;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 0px 7px 0px 3px;
  outline: none;
  border: none;
}
.mima input[type="submit"]:hover {
	background:#818181;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}